.gradle
build/
.idea/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# custom sync files
clientfile.txt
serverfile.txt

.DS_Store
src/client/client.iml
src/server/server.iml